@font-face {
  font-family: 'myfont';
  src:  url('font/Vazir-Bold-FD.eot') format('woff2'),
        url('font/Vazir-Bold-FD.woff') format('woff');
}
body{
  font-family: "myfont";
	text-align:right;
	text-decoration:none;
	direction:ltr;
  max-height: 86vh;	
  margin: 0;
}

*{box-sizing: border-box;}*/
/*style header*/
.banner{
  height: 1rem;
}
.style_logo{
  background: red;
}
#top-left ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  margin: 0;
  padding: 0;

}
#top-left li {
  list-style: none;
}
#top-left a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
#top-left{
  background: red;
}
.image-list{
  display: flex;
  justify-content: center;
}
.image-list ul {
  display: flex;
  flex-wrap:nowrap;
  list-style: none;
  margin: 0;
  padding: 0;

}
.image-list li {
  margin: 10px;
}
.image-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;

}
.image-list span{
  margin-top: 5px;
  font-family:"myfont";
  font-size: 14px;
}
.image-list img {
  width: 100%;
}