@font-face {
  font-family: 'myfont';
  src:  url('font/Vazir-Bold-FD.eot') format('woff2'),
        url('font/Vazir-Bold-FD.woff') format('woff');
}
body{
  font-family: "myfont";
	text-align:right;
	text-decoration:none;
	direction:ltr;
  max-height: 86vh;	
  margin: 0;

}

*{box-sizing: border-box;}*/
/*style header*/
.banner{
  height: 1rem;
}
.style_logo img{ 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
#top-left ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: azure;

}
#top-left li {
  list-style: none;
}
#top-left a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: black;
  border-radius: 5px;
}
#top-left{
  
}
.image-list{
  display: flex;
  justify-content: center;
}
.image-list ul {
  display: flex;
  flex-wrap:nowrap;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: azure;

}
.image-list li {
  margin: 10px;
}
.image-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;

}
.image-list span{
  margin-top: 5px;
  font-family:"myfont";
  font-size: 14px;
}
.image-list img {
  width: 100%;
}
.center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.style_logo {
  background-color: azure;
}
.right-sidebar li {
  background-color: azure;
  border:solid 1px gold;
}
.right-sidebar a:hover {
  background-color: rgba(255, 217, 0, 0.685);
  color: azure;
  font-weight: bolder;
}
.user-content{
  background-color: azure;
  max-width: 50%;
}
div.user-content-title{
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
  vertical-align: top;
}
div.user-content-title svg,h6{
  margin: 5px;
}
div.user-content p {
  text-align: right;

}
div.user-content-link{
  border: solid 1px rgb(182, 155, 6);
  border-radius: 5px;
}
div.user-content-link a{
  text-decoration: none;
  font-weight: 200;
  color: black;
  margin-bottom: 5px;
  font-family: "myfont";
  margin: 2px;
}
a#user-attach {
  float: right;
}